.card__inputs {
    max-width: 600px;
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 250px;
    margin: 0 auto;
}

.card {
    max-width: 550px; 
    margin: 0 auto 10px auto;
}
